<div class="ps-xref-host" data-xref-target="host">
  <div class="ps-book-backdrop" data-action="xref#close"></div>
  <aside class="ps-drawer">
    <%= turbo_frame_tag "xref_drawer" do %>
      <div class="ps-drawer-head">
        <div class="ps-drawer-eyebrow">
          <span>&#9159; &nbsp; Cross References</span>
          <button class="close" type="button" data-action="xref#close">&#10005;</button>
        </div>
        <div class="ps-drawer-sub">Click any verse number to trace its cross-references.</div>
      </div>
    <% end %>
  </aside>
</div>
